*{
margin: 0;
padding: 0;
}
body{
    background: url(../solar-system/img/img\ 03521.jpg)no-repeat center / cover;
    margin: auto;
}
#solarSystem{
    position: relative;
    margin: auto;
    width: 600px;
    height: 600px;
    overflow: hidden;
    padding: 50px;
}
#neptune{
    position: absolute;
    width: 600px;
    height: 600px;
    background-color: rgba(0,0,0,0);
    border: 2px dotted #222;
    border-radius: 100%;
    animation: solar 80s ease infinite;
}
#neptune::after{
    position: absolute;
    width: 25px;
    height: 22px;
    border-radius: 100%;
    background: #00f;
    border-color: #00009d;
    border-style: solid;
    border-width: 4px 1px 1px 1px;
    content: '';
    left: 300px;
    top: -13px

}
#uranus{
    position: absolute;
    width: 530px;
    height: 530px;
    background-color: rgba(0,0,0,0);
    border: 2px dotted #222;
    animation: solar 75s ease infinite;
    border-radius: 100%;
    left: 85px;
    top: 85px;
}
#uranus::after{
    position: absolute;
    width: 22px;
    height: 20px;
    border-radius: 100%;
    background: #00f;
    border-color: #00539d;
    border-style: solid;
    border-width: 4px 1px 1px 1px;
    content: '';
    left: 265px;
    top: -10px
}
#saturn{
    position: absolute;
    width: 460px;
    height: 460px;
    background-color: rgba(0,0,0,0);
    border: 2px dotted #222;
    animation: solar 70s ease infinite;
    border-radius: 100%;
    left: 120px;
    top: 120px;
}
#saturn::before{
    position: absolute;
    width: 20px;
    height: 18px;
    border-radius: 100%;
    background: #0c0c0c;
    border-color: #838383;
    border-style: solid;
    border-width: 5px 1px 1px 1px;
    content: '';
    left: 230px;
    top: -11px
}
#saturn::after{
    position: absolute;
    width: 35px;
    height: 10px;
    border-radius: 100%;
    background: #838383;
    background: rgba(0,0,0,0);
    border-style: solid;
    border-width: 1px 1px 3px 2px;
    content: '';
    left: 224px;
    top: -5px
}
#jupiter{
    position: absolute;
    width: 360px;
    height: 360px;
    background-color: rgba(0,0,0,0);
    border: 2px dotted #222;
    animation: solar 70s linear infinite;
    border-radius: 100%;
    left: 170px;
    top: 170px;
}
#jupiter::after{
    position: absolute;
    width: 20px;
    height: 16px;
    border-radius: 100%;
    background: #f60;
    border-color: #630;
    border-style: solid;
    border-width: 6px 1px 1px 1px;
    content: '';
    left: 170px;
    top: -10px 
}
#mars{
    position: absolute;
    width: 300px;
    height: 300px;
    background-color: rgba(0,0,0,0);
    border: 2px dotted #222;
    animation: solar 70s linear infinite;
    border-radius: 100%;
    left: 200px;
    top: 200px; 
}
#mars::after{
    position: absolute;
    width: 18px;
    height: 16px;
    border-radius: 100%;
    background: #b00000;
    border-color: #600;
    border-style: solid;
    border-width: 3px 1px 1px 1px;
    content: '';
    left: 100px;
    top: -5px 
}
#earth{
    position: absolute;
    width: 250px;
    height: 250px;
    background-color: rgba(0,0,0,0);
    border: 2px dotted #222;
    animation: solar 70s linear infinite;
    border-radius: 100%;
    left: 225px;
    top: 225px; 
}
#earth::after{
    position: absolute;
    width: 18px;
    height: 16px;
    border-radius: 100%;
    background: #0058b0;
    border-color: #00366c;
    border-style: solid;
    border-width: 3px 1px 1px 1px;
    content: '';
    left: 75px;
    top: -5px 
}
#venus{
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: rgba(0,0,0,0);
    border: 2px dotted #222;
    animation: solar 70s linear infinite;
    border-radius: 100%;
    left: 250px;
    top: 250px; 
}
#venus::after{
    position: absolute;
    width: 16px;
    height: 14px;
    border-radius: 100%;
    background: #ffd3a8;
    border-color: #ffa579;
    border-style: solid;
    border-width: 4px 1px 1px 1px;
    content: '';
    left: 50px;
    top: -1px 
}
#mercury{
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: rgba(0,0,0,0);
    border: 2px dotted #222;
    animation: solar 70s ease-out infinite;
    border-radius: 100%;
    left: 275px;
    top: 275px; 
}
#mercury::after{
    position: absolute;
    width: 15px;
    height: 14px;
    border-radius: 100%;
    background: #713800;
    border-color: #623100;
    border-style: solid;
    border-width: 2px 1px 1px 1px;
    content: '';
    left: 35px;
    top: -3px 
}
#sun{
    position: absolute;
    width: 70px;
    height: 70px;
    background-color: #f90;
    border-color: 2px dotted #222;
    left: 317px;
    top: 317px;
    border-radius: 100%;
    box-shadow: 0 0 25px 10px rgba(255, 153, 0, 0.774);
}
@keyframes solar {
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}